In [4]:
import pandas as pd
       
data=pd.read_excel(r'd:/mydoc/projs/jupyter/house.xlsx',sheet_name=0,header=0,usecols=[0,5,7,8,13],index_col=0)
data

        总价   画积  卧室  建成时间
id
逸成东01  380   79   2  2003
天通苑04  507  140   3  2001
汽南小01  515  104   3  1985
门头沟01  305   87   2  1990
新街口01  260   55   2  2005
瑞祥里01  665  135   3  2004
瑞祥里02  316   78   2  1999

In [6]:
price=data['总价']
price

id
逸成东01    380
天通苑04    507
汽南小01    515
门头沟01    305
新街口01    260
瑞祥里01    665
瑞祥里02    316
Name: 总价, dtype: int64

In [7]:
price[1]

C:\Users\trust\AppData\Local\Temp\ipykernel_19932\4074423798.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  price[1]

np.int64(507)

In [21]:
price[['天通苑04','新街口01']]

id
天通苑04    507
新街口01    260
Name: 总价, dtype: int64

In [ ]:
price