In [48]:
import pandas as pd
df=pd.read_csv('d:/mydoc/projs/jupy/res/bank.csv')
df['交易日期']=pd.to_datetime(df['交易日期'])
df.index=df['交易日期']
df=df.sort_index()
df.head()

                        交易编号  账户编号                交易日期 交易类型    金额     账户余额
交易日期
1996-01-01 01:39:00   964630  3287 1996-01-01 01:39:00   取款  1200  57528.0
1996-01-01 02:27:00  1042689  3566 1996-01-01 02:27:00   取款   500  25419.7
1996-01-01 04:28:00   917236  3127 1996-01-01 04:28:00   取款  6600  27481.0
1996-01-01 05:21:00   800209  2729 1996-01-01 05:21:00   取款  1920  34202.7
1996-01-01 07:51:00   964628  3287 1996-01-01 07:51:00   取款  1680  55848.0

In [59]:
df.loc['1996/01/01 04:00':'1996/01/01 06:00']

                       交易编号  账户编号                交易日期 交易类型    金额     账户余额
交易日期
1996-01-01 04:28:00  917236  3127 1996-01-01 04:28:00   取款  6600  27481.0
1996-01-01 05:21:00  800209  2729 1996-01-01 05:21:00   取款  1920  34202.7

In [65]:
df['dayofweek']=df['交易日期'].dt.hour
df

,交易编号,账户编号,交易日期,交易类型,金额,账户余额,dayofweek
交易日期,,,,,,,
1996-01-01 01:39:00,964630,3287,1996-01-01 01:39:00,取款,1200,57528.0,1
1996-01-01 02:27:00,1042689,3566,1996-01-01 02:27:00,取款,500,25419.7,2
1996-01-01 04:28:00,917236,3127,1996-01-01 04:28:00,取款,6600,27481.0,4
1996-01-01 05:21:00,800209,2729,1996-01-01 05:21:00,取款,1920,34202.7,5
1996-01-01 07:51:00,964628,3287,1996-01-01 07:51:00,取款,1680,55848.0,7
1996-01-01 08:45:00,2357013,7774,1996-01-01 08:45:00,取款,4200,29518.5,8
1996-01-01 10:02:00,917649,3128,1996-01-01 10:02:00,取款,8000,24859.1,10
1996-01-01 11:51:00,1747464,5927,1996-01-01 11:51:00,取款,4800,18315.5,11
1996-01-01 13:13:00,803553,2738,1996-01-01 13:13:00,取款,6500,25685.2,13
1996-01-01 14:01:00,921609,3141,1996-01-01 14:01:00,取款,4500,35593.5,14
1996-01-01 15:15:00,1042686,3566,1996-01-01 15:15:00,取款,1000,25919.7,15
1996-01-01 16:32:00,2353940,7765,1996-01-01 16:32:00,存款,40117,81482.5,16
1996-01-01 17:01:00,1764211,5984,1996-01-01 17:01:00,取款,1000,36936.6,17
1996-01-01 18:30:00,692239,2365,1996-01-01 18:30:00,取款,1680,20193.5,18
1996-01-01 19:21:00,921702,3141,1996-01-01 19:21:00,存款,4900,40093.5,19
1996-01-01 19:27:00,1764212,5984,1996-01-01 19:27:00,取款,1900,37936.6,19
1996-01-01 19:42:00,732811,2504,1996-01-01 19:42:00,信用卡取款,900,38124.4,19
1996-01-01 19:47:00,2354269,7765,1996-01-01 19:47:00,取款,29700,51782.5,19